    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Hola!</h2>
          <p>Me puedes llamar Gonzalo, acontinuación te comento un poco sobre mí:</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="assets/img/profile.jpeg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Mobile Developer.</h3>
            <p>
                Actualmente me desempeño como Android Developer en Peruapps, he desarrollado aplicaciones nativas android con Kotlin
                y Java en el sector de retail e inmobiliario. Tengo experiencia en MVVM/MVP/MVI, clean architecture, SOLID, Firebase y
                control de versiones. Me considero un entusiasta autodidacta, sin excusas por aprender nuevas tecnologías orientadas al
                desarrollo mobile. Tengo interés en seguir desarrollándome profesionalmente en equipos multidisciplinarios y de distintas
                nacionalidades aplicando marcos de trabajo ágiles en una cultura de innovación y colaboración.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 May 1995</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>New York, USA</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>email@example.com</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
