<section id="hero" class="d-flex flex-column justify-content-end align-items-start p-5">
  <div class="hero-container">
    <h1>Gonzalo López Guerrero</h1>
    <p>I'm <span>Mobile Developer</span></p>


    <div class="profile d-flex justify-content">
        <div class="social-links mt-3 text-center">
          <a href="https://www.instagram.com/gonzalo.lozg/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
          
          <a href="https://github.com/gonzalo-droid" target="_blank"  class="google-plus"><i class="bx bxl-github"></i></a>

          <a href="https://www.linkedin.com/in/gonzalo-lozg/" target="_blank"  class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

  </div>
</section>
