<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Projects</h2>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/app_ulearning.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>U-Learning: Android</h3>
            <p>
                <small>
                    Aplicación para el uso del estudiante.
                </small>
              </p>
            <p>
               Cada vez me enfoco en mejorar la orgranización y legibilidad del proyecto. Aplique MVI,  StateFlow/SharedFlow y testing con Mockito.
               Poryecto en progreso.
            </p>
            <p><strong>Role</strong>:   Android Developer</p>
            <p><strong>Tech</strong>:   Kotlin, MVI, Retrofit, StateFlow, Firebase, Proto DataStore, Hilt, Coroutines, Play Store, Material 3, DataBinding, Git | Github</p>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">


        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>U-Learning: Sistema Web</h3>
            <p>
                <small>
                    Portal de educación online. Portal de intranet para el estudiante. Portal adminitrativo
                </small>
              </p>
            <p>
              Fue un proyecto donde abarcamos 3 sistemas que se intercomunican. Configure AWS para el uso de las instancias EC2 y el despliegue continuo de los sistemas.
            </p>
            <p><strong>Role</strong>:   FullStack Developer</p>
            <p><strong>Tech</strong>:   Laravel 8, Angular 12, Postgres, AWS, , Git | Github</p>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/web_ulearning.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/app_erp.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Sistema para lotes y viviendas: Android</h3>
            <p>
                <small>
                    Complemento del sistema web, enfocado para el uso de los asesores de venta
                </small>
              </p>
            <p>
              Me enfoque en mejorar mi código para ello segui los principios SOLID, arquitectura por capas, control de versiones y además aplique inyección de dependencias.
            </p>
            <p><strong>Role</strong>:   Android Developer</p>
            <p><strong>Tech</strong>:   Kotlin, MVP, Retrofit, LiveData, Firebase, SharedPreferences, Dagger2, Coroutines, Play Store, DataBinding,Git | Github</p>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">


        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Sistema para lotes y viviendas: Sistema Web</h3>
            <p>
                <small>
                    Sistema ERP enfocado en la gestión de proyectos inmobiliarios.
                </small>
              </p>
            <p>
              Proyecto multiempresa donde tuvimos que adaptarnos a diferentes casos de uso que presentaban los clientes. Las features más retadoras fueron la gestión de pagos, generación de contratos e implementación de facturación electrónica.
            </p>
            <p><strong>Role</strong>:   FullStack Developer</p>
            <p><strong>Tech</strong>:   Laravel 6, javascript | Vue, MySQL, Apache2, , Git | Github</p>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/web_erp.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/app_crm.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Solti-CRM: Android</h3>
            <p>
                <small>Complementeo del sistema web, enfocado para el uso de los asesores de venta</small>
              </p>
            <p>
              Tome el cargo de desarrollar la aplicación android en Java. Propuse los flujos funcionales además de las estimaciones para las entregas. Además utilice los servicios de google para registrar las ubicaciones y visitas de los asesores a sus clientes.
            </p>
            <p><strong>Role</strong>: Android Developer</p>
            <p><strong>Tech</strong>: Java, MVC, Volley, Firebase, SharedPreferences, Play Store, Git | Github</p>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">


        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Solti-CRM: Sistema Web</h3>
            <p>
                <small>Sistema comercial de gestión de clientes, brindando seguimiento en el proceso de pre-venta y post-venta.</small>
              </p>
            <p>
              Fue el primer proyecto comercial que participe. Forma parte del proceso de analísis de requerimientos, desarrollo, despliegue, capacitación al usuario y mantenimiento.
            </p>
            <p><strong>Role</strong>: FullStack Developer</p>
            <p><strong>Tech</strong>: Laravel 6, javascript, MySQL, Apache2, Git | Github</p>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/web_crm.png" alt="" />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
