<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Projects</h2>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-details-1.jpg" alt="" />
              </div>

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="" />
              </div>

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-details-3.jpg" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Sistema para lotes y viviendas: Android</h3>
            <p>
                <small>
                    Complementeo del sistema web, enfocado para el uso de los asesores de venta
                </small>
              </p>
            <p>
              Me enfoque en mejorar mi código para ello segui los principios SOLID, arquitectura por capas, control de versiones y además aplique inyección de dependencias.
            </p>
            <p><strong>Role</strong>:   Android Developer</p>
            <p><strong>Tech</strong>:   Kotlin, MVP, Retrofit, Firebase (notifications), SharedPreferences, Dagger2, Play Store, Git | Github</p>
            <p><strong>Link</strong>: <a href="#">www.example.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">


        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Sistema para lotes y viviendas: Sistema Web</h3>
            <p>
                <small>
                    Sistema ERP enfocado en la gestión de proyectos inmobiliarios.
                </small>
              </p>
            <p>
              Forme parte de todo el ciclo de desarrollo. Las features más retadoras fueron la gestión de pagos, generación de contratos y implemtación de facturación electrónica.
            </p>
            <p><strong>Role</strong>:   FullStack Developer</p>
            <p><strong>Tech</strong>:   Laravel 6, javascript | Vue, MySQL, Apache2</p>
            <p><strong>Link</strong>:   <a href="#">www.example.com</a></p>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/app_crm.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">
        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/app_crm.png" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Solti-CRM: Android</h3>
            <p>
                <small>Complementeo del sistema web, enfocado para el uso de los asesores de venta</small>
              </p>
            <p>
              Tome el cargo de desarrollar la aplicación android en Java. Propuse los flujos funcionales además de estimaciones para entregas te valor.
            </p>
            <p><strong>Role</strong>: Android Developer</p>
            <p><strong>Tech</strong>: Java, MVC, Volley, Firebase (auth y notifications), SharedPreferences, Play Store, Git | Github</p>
            <p><strong>Link</strong>: <a href="#">www.example.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="portfolio-details">
      <div class="row gy-4">


        <div class="col-lg-4">
          <div class="portfolio-info">
            <h3>Solti-CRM: Sistema Web</h3>
            <p>
                <small>Sistema comercial de gestión de clientes, brindando seguimiento en el proceso de pre-venta y post-venta.</small>
              </p>
            <p>
              Fue el primer proyecto comencial que participe. Forma parte del proceso de analísis de requerimientos, desarrollo, despliegue, capacitación al usuario y mantenimiento.
            </p>
            <p><strong>Role</strong>: FullStack Developer</p>
            <p><strong>Tech</strong>: Laravel 6, javascript, MySQL, Apache2</p>
            <p><strong>Link</strong>: <a href="#">www.example.com</a></p>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <img src="assets/img/portfolio/app_crm.png" alt="" />
              </div>

              <div class="swiper-slide">
                <img src="assets/img/portfolio/portfolio-details-2.jpg" alt="" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
